<h1>Cat Rental</h1>

<table>
  <colgroup span="5"></colgroup>
  <tr>
    <th>Cat ID</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Status</th>

  </tr>
  <tr>
    <td><%= @cat_rental_request.cat_id %></td>
    <td><%= @cat_rental_request.start_date %></td>
    <td><%= @cat_rental_request.end_date %></td>
    <td><%= @cat_rental_request.status %></td>
  </tr>
</table>
